@{ Layout = null; }
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kayıt Ol - Soru Cevap Portalı</title>
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body class="bg-gradient-primary">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Hesap Oluştur!</h1>
                            </div>
                            
                            @if (ViewBag.ErrorMessage != null)
                            {
                                <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                            }

                            <form class="user" asp-action="Register" method="post">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" name="Name" class="form-control form-control-user" placeholder="Adınız" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" name="Surname" class="form-control form-control-user" placeholder="Soyadınız" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="Username" class="form-control form-control-user" placeholder="Kullanıcı Adı (Nick)" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="Email" class="form-control form-control-user" placeholder="E-Posta Adresi" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="PhoneNumber" class="form-control form-control-user" placeholder="Telefon Numarası">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <input type="password" name="Password" class="form-control form-control-user" placeholder="Şifre" required>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Kayıt Ol
                                </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/Auth/Login">Zaten bir hesabın var mı? Giriş Yap!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>
</body>
</html>