@{
    Layout = null;
}
<div class="container mt-5">
    <div class="card col-md-6 mx-auto shadow">
        <div class="card-body text-center">
            <h4>Kodu Girin</h4>
            <p>E-posta adresinize gelen 6 haneli kodu yazın.</p>
            <form method="post">
                <input type="text" name="code" class="form-control mb-3" placeholder="123456" required />
                <button class="btn btn-primary btn-block">Doğrula</button>
            </form>
        </div>
    </div>
</div>