<li class="nav-item">
    <a class="nav-link" href="/Admin/Users">
        <i class="fas fa-fw fa-users"></i>
        <span>Kullanıcılar</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/Admin/Questions">
        <i class="fas fa-fw fa-question-circle"></i>
        <span>Sorular</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/Admin/Answers">
        <i class="fas fa-fw fa-comments"></i>
        <span>Cevaplar</span>
    </a>
</li>

<a class="dropdown-item" href="/Admin/Profile">
    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
    Profilim
</a>